[submodule "encrypter-grpc"]
 path = encrypter-grpc
 url = https://github.com/ralvarezdev/uru-information-security-encrypter-grpc.git
[submodule "decrypter-grpc"]
 path = decrypter-grpc
 url = https://github.com/ralvarezdev/uru-information-security-decrypter-grpc.git
[submodule "admin-app"]
	path = admin-app
	url = https://github.com/ralvarezdev/uru-information-security-admin-app
[submodule "bidder-app"]
	path = bidder-app
	url = https://github.com/ralvarezdev/uru-information-security-bidder-app
[submodule "certificate-app"]
	path = certificate-app
	url = https://github.com/ralvarezdev/uru-information-security-certificate-app
[submodule "certificate-grpc"]
	path = certificate-grpc
	url = https://github.com/ralvarezdev/uru-information-security-certificate-grpc
